<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /plumas_atomicas/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /plumas_atomicas/index.php [L]
</IfModule>

